.sign-form__link {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}

.sign-form__link:hover {
  cursor: pointer;
}