.header {
  max-width: 880px;
  margin: 0 auto 40px;
  line-height: 0;
  border-bottom: 1px solid #545454;
  display: flex;
  align-items: center;
  /* margin: 45px 0 41px; */
}

@media screen and (max-width: 918px) {
  .header {
    /* padding: 28px 27px 32px; */
    margin: 0 0 38px;
  }
}